{%load static%}

<!DOCTYPE html>
<html>
<head>
<title>Akash Nath - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{%static 'css/style.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{%static 'images/headshot.jpg'%}" alt="Akash Nath" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Akash Nath</h1>
			<h2 class="quickFade delayThree">Software Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: <a href="mailto:akash.2797@hotmail.com" target="_blank">akash.2797@hotmail.com</a></li>
				<li>Website: <a href="http://www.akashnath.com">www.akashnath.com</a></li>
				<li>Date of Birth: 27th February, 1998</li>
				<li>Address: Akademicka 5, Warszawa</li>
				<li>Phone: +48576771530</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I'm a Computer Science Undergraduate student studying in Politechnika Warszawska. I'm interested in Python and also have experience in Costumer Service.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Politechnika Warszawska, Warszawa</h2>
					<p class="subDetails">October 2017 - Present1</p>
					<p>Studying Bachelors in Science in Computer Science And Information Technology</p>
				</article>
				<article>
					<h2>International School, Patna</h2>
					<p class="subDetails">April 2001 - July 2017</p>
					<p>Graduated High School (+16 years)</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Customer Service Professional at Sitel Polska</h2>
					<p class="subDetails">July 2018 - November 2019</p>
					<p>I was responsible for:<br> 
					- Resolving customer complaints or answer customers' questions regarding policies and procedures through Phone and Emails.<br> 
				    - Participating in the work of subordinates to facilitate productivity or to overcome difficult aspects of work.</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python Programming</li>
					<li>Java Programming</li>
					<li>C++ Programming</li>
					<li>Website Designing</li>
					<li>Customer Service</li>
					<li>Microsoft Office</li>
					<li>Databases (MYSql)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Python Libraries / Frameworks that I've good knowledge of and used to do my projects</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Django</li>
					<li>Selenium</li>
					<li>Numpy</li>
					<li>Pandas</li>
					<li>Matplotlib</li>
					<li>Scipy</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Languages</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>English  	&nbsp	  Hindi  &nbsp	  Polish  &nbsp	  Spanish</h2>
					<p class="subDetails">Level C2   &nbsp	 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp	  &nbsp	Level C2    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Level A1     &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Level A1</p> <!-- h2>Hindi</h2>
					<p class="subDetails">Level C2</p>
				
					<h2>Polish</h2>
					<p class="subDetails">Level A1</p>
				</article> -->
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>My Projects</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Websites</h2>
					<p class="subDetails">Various websited made using Django framework of Python.</p>
				</article>

				<article>
					<h2>Instagram Bot</h2>
					<p class="subDetails">An automatic bot made using Selenium library of Python that likes posts of instagram accounts.</p>
				</article>
				
				<article>
					<h2>Amazon Price Tracker</h2>
					<p class="subDetails">Ana utomated tracker made using Python that tracks the price of your favorite products on amazon and sends an email if the price is decreased.</p>
				</article>
				<article>
					<h2>Stock Price Data Analysis</h2>
					<p class="subDetails">Data analysis using pandas and numpy.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>